* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body {
 	background-color: white; 
 	font-family: "Roboto", sans-serif; 
}

#marge {
	padding-right: 50px;
    padding-left: 50px;
}

html, body {
	height: 100%;
	width: 100%;
}

header {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 15px;
	border-bottom: 1px solid #b1b1b1;
}


#imageMenu {
	max-width: 1400px;
    margin: auto;
}

#retour {
	margin: 10px;
	text-align: left;
	font-size: 22px;
    position: absolute;
    left: 10px;
    color:black
}


.imageheader {
	height: 300px;
	object-fit: cover;
	width: 100%;
}

.position {
	background-color: #e1e1e1;
	text-align: center;
	padding: 15px;
	box-shadow: 0 -3px 5px -3px #333;}

.headtitre {
	background-color: #F2F2F2;
	text-align: center;
	padding: 30px;
}

h1 {
	font-family: 'Shrikhand', cursive;
	font-style: italic;
}

.valide {
	background-color: #91d6c5;
	width: 100px;
	height: 100%;
}

.like {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.like div {
	position: relative;
	width: 40px;
}

.like div i {
	position: absolute;
	left: 0;
	top: 0;
}

.like div .fas {
	-webkit-transform:scale(0);
	transform: scale(0);
	color: #af62dc;
	transition: all 1s ease;
}

.like div .far:hover + .fas {
	-webkit-transform: scale(1);
	transform: scale(1);
}


.fa-heart:hover {
	cursor: pointer;
}

.fa-heart {
	font-size: 1.5rem;
}

.coeur {

}

#menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.epd {
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 3px solid #99E2D0;
	width : 50px;
	font-size: 15px;
    line-height: 15px;
	margin-bottom: 20px;
}

#plats h2, #entrees > div, #entrees h2, #plats > div, #desserts h2, #desserts > div {
	opacity: 0;
	margin-top:20px;
	animation-duration:3s;
	animation-fill-mode:forwards;
	animation-name:apparition_progressive;
}

#entrees h2, #entrees > div {
	animation-delay: 0s;
} 

#plats h2, #plats > div {
	animation-delay: 1s;
}

#desserts h2, #desserts > div{
	animation-delay: 2s;
}

@keyframes apparition_progressive {
	0% {
		opacity: 0;
		margin-top: 20px;
	}
	100% {
		opacity: 1;
		margin-top: 0px;
	}
}


#container {
	background-color: #F2F2F2;
	border-radius: 40px 40px 0px 0px;
	margin-top: -40px;
	position: relative;
	padding: 20px;
	padding-bottom: 50px;
	max-width: 1400px;
    margin-right: auto;
	margin-left:auto;
}











.container-petit{
  display:flex;
  overflow-x:hidden;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0px 0px 10px #cacaca;
  height: 70px;
  width: 400px;
  overflow-y: hidden;
}

.container-petit *{
  flex-grow:1;
  flex-shrink:1;
}

.prix {
  align-items: flex-end;
  display:flex;
  justify-content:flex-end;
  margin-left: -100px;
  font-weight: bold;
}

.container-petit:hover {
	cursor: pointer;
}

.container-petit:hover  p{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 240px;
}

.container-petit:hover .valide {
	opacity: 1;
}

.test {
	width: 250px;
}

.description {
  align-items: flex-end;
}



 h3{
	font-size: 17px;
}

.prix-valide {
  display: flex;
  transition:all 1s ease;
  transform: translateX(80px);
}


.valide  {
  background:#99E2D0;
  width:50px;
  height: 70px;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:all 1s ease;
  transform: translateX(20px);
  position: relative;
  top: -15px;
  color:white;
  opacity: 0;
}


.validerond {
	margin-left: auto;
	margin-right: auto;
}


.validerond i {
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 50%;
	color: #99E2D0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}



.container-petit:hover .prix-valide{
  transform:translate(0);
}

.container-petit:hover .valide i{
  animation:rotate 2s;
}

@keyframes rotate {
  0% {
    transform:rotate(-180deg);
  }
  100% {
    transform:rotate(0deg);
  }
}




b {
	display: flex;
    margin-left: auto;
    font-weight: bold;
    margin-left: auto;
}

#button {
	margin: auto;
    display: flex;
    justify-content: center;
        padding: 50px;
}

.btn {
	font-size: 1.2rem;
	border-radius: 30px;
	border: none;
	background: linear-gradient(173deg, #f59dea   3%, #d562e9   45%, #aa56dc  87%, #9356dc  100%);
	box-shadow: 0px 4px 7px rgb(182, 182, 182);
	transition: box-shadow 100ms linear;
	text-decoration-color: white;
	padding: 20px;
	width: 250px;
	color: white;
}

.btn:hover { 
	cursor: pointer;
	transform: scale(0.5);
	transition-property: transform;
	transition-duration: 500ms;
	transform:scale(1.1);
	background: linear-gradient(173deg, #eeb5e7 3%, #d57fe4 45%, #af62dc 87%, #9356dc 100%);
	box-shadow: 0px 10px 7px rgb(182, 182, 182);
}



footer {
	background-color: #000000cf;
	padding: 20px;
}

footer div {
    max-width: 1400px;
    margin: auto;
}

.logo-blanc {
	font-family: 'Shrikhand', cursive;
	color: white;
	font-size: 2em;
}

.info-flex {
	display: flex;
	align-items: center;
	color: white;
	height: 40px;
}

.info-flex i{
	width: 40px;
}

a:not(#retour) {
	text-decoration: none;
	color: white;
}
a p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (min-width: 0px) and (max-width: 400px) {

	#entres , #plats , #dessert {

	}
	#menu {
    	transform: scale(0.8);
	}

	

} 




