* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body {
 	background-color: white; 
 	font-family: "Roboto", sans-serif; 
}

#marge {
	padding-right: 50px;
    padding-left: 50px;
}

html, body {
	height: 100%;
	max-width: 400px;
}

header {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 15px;
}


#retour {
	margin: 10px;
	text-align: left;
	font-size: 22px;
    position: absolute;
    left: 10px;

}


.imageheader {
	width: 400px;
	height: 266px;
	object-fit: cover;
}

.position {
	background-color: #e1e1e1;
	text-align: center;
	padding: 15px;
	box-shadow: 0 -3px 5px -3px #333;}

.headtitre {
	background-color: #F2F2F2;
	text-align: center;
	padding: 30px;
}

h1 {
	font-family: "Shrikhand";
	font-weight: bold;
	font-style: italic;
}

.like {
	display: flex;
	justify-content: space-between;
}

.like div {
	position: relative;
	width: 40px;
}

.like div i {
	position: absolute;
	left: 0;
	top: 0;
}

.like div .fas {
	-webkit-transform:scale(0);
	transform: scale(0);
	color: #af62dc;
	transition: all 1s ease;
}

.like div .far:hover + .fas {
	-webkit-transform: scale(1);
	transform: scale(1);
}


.fa-heart:hover {
	cursor: pointer;
}

.fa-heart {
	font-size: 1.5rem;
}

.epd {
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #99E2D0;
	width : 50px;
	font-size: 15px;
    line-height: 15px;
}

#plats h2, #entrees > div, #entrees h2, #plats > div, #desserts h2, #desserts > div {
	opacity: 0;
	margin-top:20px;
	animation-duration:3s;
	animation-fill-mode:forwards;
	animation-name:apparition_progressive;
}

#entrees h2, #entrees > div {
	animation-delay: 0s;
} 

#plats h2, #plats > div {
	animation-delay: 1s;
}

#desserts h2, #desserts > div{
	animation-delay: 2s;
}

@keyframes apparition_progressive {
	0% {
		opacity: 0;
		margin-top: 20px;
	}
	100% {
		opacity: 1;
		margin-top: 0px;
	}
}


figure {
	background-color: #F2F2F2;
	border-radius: 40px 40px 0px 0px;
	margin-top: -40px;
	position: relative;
	width: 400px;
	padding: 20px;
}
figure div {
	padding-top: 10px; 
}

figure div div:not(.coeur)  {
	border-radius: 15px;
	background-color: white;
	width: 350px;
	margin-bottom: 10px;
	padding: 15px;
	box-shadow: 0px 0px 10px #cacaca;
}

figure div div span {
	padding: 0px;	
	display: flex;
}

b {
	display: flex;
    margin-left: auto;
    font-weight: bold;
    margin-left: auto;
}



.btn {
	border-radius: 30px;
	border: none;
	background: linear-gradient(173deg, #f59dea   3%, #d562e9   45%, #aa56dc  87%, #9356dc  100%);
	text-decoration-color: white;
	padding: 20px;
	width: 250px;
	color: white;
	margin: 30px;
}

.btn:hover { 
	cursor: pointer;
	transform: scale(0.5);
	transition-property: transform;
	transition-duration: 500ms;
	transform:scale(1.1);
	background: linear-gradient(173deg, #eeb5e7 3%, #d57fe4 45%, #af62dc 87%, #9356dc 100%);
}



footer {
	background-color: #000000cf;
	padding: 20px;
}

footer i {
	font-family: "Shrikhand";
	color: white;
	font-size: 2em;
	font-weight: bold;
}

a:not(#retour) {
	text-decoration: none;
	color: white;
}
a p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}








